


.tagline h2 {
	font-weight:400;
	margin:33px 0 0 0;
	text-transform:uppercase;
	color:#4f443e;
	font-size:0.9em;
	margin-left:55px;
}

.toggleMenu i {
	margin-right:10px;
}

.toggleMenu {
	display:none;
	background:#4f443e;
	padding:10px 15px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-decoration:none !important;
}

.toggleMenu:hover {
	color:#fff !important;
}

#navigation {
	float:right;
	margin:0;
	width:auto;
	margin-top:24px;
	font-weight:normal;
	font-size:0.8em;
}

#menu-primary-menu {
	list-style:none;
	*zoom:1;
	margin:0;
	padding:0;
	text-transform:uppercase;
}

#menu-primary-menu:before, #menu-primary-menu:after {
	content:" ";
	display:table;
}

#menu-primary-menu:after {
	clear:both;
}

#menu-primary-menu ul {
	list-style:none;
	width:12em;
	border-right:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
}

#menu-primary-menu a {
	padding:10px 0px;
	text-decoration:none;
	color:#807269;
}

#menu-primary-menu a:hover {
	color:#453d39;
}

#menu-primary-menu li {
	position:relative;
	margin-left:30px;
}

#menu-primary-menu li:first-child {
	position:relative;
	margin-left:0px;
}

#menu-primary-menu>li {
	float:left;
}

#menu-primary-menu li ul {
	margin:0;
	padding:0;
}

#menu-primary-menu li li a {
	background:#fff;
	border-top:1px solid #b5b5b5;
	padding-left:15px;
	padding-right:15px;
}

#menu-primary-menu>li>.parent {
	background-image:url(library/images/downArrow.png);
	background-repeat:no-repeat;
	background-position:95% 50%;
}

#menu-primary-menu .sub-menu li {
	margin-left:0px !important;
}

#menu-primary-menu>li>a {
	display:block;
}

#menu-primary-menu li ul {
	position:absolute;
	left:-9999px;
}

#menu-primary-menu>li.hover>ul {
	left:0;
}

#menu-primary-menu li li.hover ul {
	left:100%;
	top:0;
}

#menu-primary-menu li li a {
	display:block;
	position:relative;
	z-index:100;
}

.sub-menu .current_page_item {
	border-top:none !important;
	margin-top:0px !important;
}

.current_page_item {
	border-top:5px solid #d9cec6;
	margin-top:-5px;
}

.current_page_item a {
	color:#453d39 !important;
}

.team--top .left-inner {
	width:100% !important;
}

.page-layout {
	padding-top:60px !important;
	padding-bottom:60px !important;
}

.left-inner {
	padding-right:40px;
}

.rslides {
	position:relative;
	list-style:none;
	overflow:hidden;
	width:100%;
	padding:0;
	margin:0;
}

.rslides li {
	-webkit-backface-visibility:hidden;
	position:absolute;
	display:none;
	width:100%;
	left:0;
	top:0;
}

.rslides li:first-child {
	position:relative;
	display:block;
	float:left;
}

.rslides img {
	display:block;
	height:auto;
	float:left;
	width:100%;
	border:0;
}

.slider-nav .centered-btns_here {
	display:inline-block !important;
}

.slider-nav ul li {
	display:none;
}

.slider-nav ul li:after {
	margin-right:10px;
	color:#fff;
}

.centered-btns_tabs {
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	height:auto;
	display:block;
	background:#807269;
	width:20%;
	padding-top:37px;
	padding-bottom:37px;
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.centered-btns_tabs li a {
	color:#fff;
	text-decoration:none;
}

.slider-nav {
	width:35.9%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	z-index:99 !important;
	margin-top:-5.6%;
	position:relative;
	background:#fff;
}

.nav-helper {
	float:left;
	width:64.1%;
}

.slider-nav .next, .slider-nav .prev {
	width:24.7%;
}

.slider-nav .prev {
	float:left;
	text-align:center;
	font-family:'Lato',  sans-serif;
	font-size:40px;
	padding-top:0.8em;
	padding-bottom:1em;
	text-decoration:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-right:1px solid #d3d3d3;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	background:#FFF;
}

.slider-nav .next {
	float:left;
	padding-top:0.8em;
	padding-bottom:1em;
	text-align:center;
	font-family:'Lato',  sans-serif;
	font-size:40px;
	text-decoration:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-right:1px solid #d3d3d3;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	background:#FFF;
}

#homecontent .row {
	z-index:9999 !important;
}

.slider-nav .next:after {
	clear:both;
}

.slider-nav ul li ul {
	position:absolute;
	float:left;
}

.slider-left .inner {
	width:90%;
	color:#FFF;
	margin:0 auto;
	height:150px;
	display:table;
}

.slider-left .inner .inside_text {
	display:table-cell;
	vertical-align:middle;
}

.slider-left p {
	color:#FFF;
	font-size:1.1em;
	display:inline-block;
	margin:0;
	margin-left:50px;
	vertical-align:middle;
	font-size:1.2em;
	text-align:center;
	margin-top:5px;
}

.slider-left h3 {
	font-size:2.5em;
	line-height:125%;
	text-transform:uppercase;
	margin:0;
	display:inline-block;
	vertical-align:middle;
	padding-right:70px;
	border-right:1px solid #A2A2A2;
}

.slider-left h2 {
	color:#413f39;
	font-size:21px;
	margin-bottom:0px;
}

.slider-left .inner {
	margin:0 auto;
	position:relative;
}

.slider-left a {
	display:block;
	margin-top:60px;
	font-size:21px;
	vertical-align:middle;
}

.slider-left a span {
	font-family:'Lato',  sans-serif;
	font-size:36px;
	vertical-align:middle;
	margin-top:-8px !important;
	display:inline-block;
	margin-left:30px;
	color:#4a462a;
}

.rslides_container {
	background:#251719;
}

.test-img img {
	width:100%;
	height:auto;
	vertical-align:bottom;
}

#testimonials {
	max-width:825px;
	margin:auto;
	color:#807269 !important;
	display:block;
}

#testimonials cite, #testimonials blockquote {
	margin:0;
	padding:0;
}

#testimonials blockquote {
	font-size:1.5em;
	color:#807269 !important;
	line-height:120% !important;
}

#testimonials cite {
	font-style:normal;
	font-weight:bold;
	margin-top:60px;
	display:block;
}

.test-left {
	width:50%;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.test-right {
	max-width:825px;
	margin-right:6%;
	width:auto;
	float:right;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.services-home {
	border-top:1px solid #e5e5e5;
}

.team-home-left p {
	font-size:1em;
	line-height:120% !important;
	font-weight:300 !important;
}

.case-study .client-releases {
	margin-bottom:0px !important;
}

.team-home-left a {
	display:block;
	margin-top:60px;
	font-size:21px;
	vertical-align:middle;
}

.arrow span {
	font-family:'Lato',  sans-serif;
	font-size:19px;
	vertical-align:middle;
	margin-top:-8px !important;
	display:inline-block;
	margin-left:30px;
	color:#4A462A;
}

.team-home-left .left-inner {
	padding-left:215px;
}

.services .left-inner {
	font-size:35px;
	line-height:130%;
}

.services h1 {
	margin-bottom:0px !important;
}

.services-home ul {
	list-style:none;
	margin:0;
	padding:0;
}

.services-home ul li {
	float:left;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	width:33.3333333333333%;
	margin:0;
	padding:0;
	height:450px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
	display:table;
}

.services-home ul li:nth-child(3n+3) {
	border-right:none;
}

.service-block-link {
	display:table-cell;
	width:100%;
	height:100%;
	position:relative;
	vertical-align:middle;
}

a.service-block-link:hover {
	text-decoration:none;
}

.service-block {
	height:240px;
	width:380px;
	margin:auto;
	position:relative;
}

.service-block h2 {
	margin-top:0px;
	text-transform:uppercase;
	margin-bottom:25px;
}

.services-home ul li:first-child h2 {
	text-transform:uppercase;
	font-size:1.7em;
	line-height:78px;
	margin-bottom:45px;
}

.service-block a {
	display:block;
	bottom:0px;
	position:absolute;
	font-size:21px;
	vertical-align:middle;
}

.service-block a span {
	font-family:'Lato',  sans-serif;
	font-size:36px;
	vertical-align:middle;
	margin-top:-8px !important;
	display:inline-block;
	margin-left:35px;
	color:#4a462a;
}

.archive-page {
	padding-top:0px;
}

.get-archives ul {
	list-style:none;
	margin:0 0 100px 0;
	font-size:48px;
	padding:0;
}

.get-archives ul li {
	line-height:180%;
}

.archive-page a {
	color:#ad9e95;
}

.archive-page a:hover {
	color:#4f443e;
	text-decoration:none;
}

.get-archives ul .current a {
	color:#4f443e !important;
}

.get-archives ul h3 {
	font-size:21px;
	margin:0 !important;
	font-weight:400;
}

.archive-menu-lower li {
	line-height:125% !important;
}

.archive-menu-lower .heading {
	line-height:150% !important;
	color:#453d39;
	margin-bottom:30px !important;
}

.post {
	margin-bottom:15px;
	background:#ECE8E2;
}

.post h2 {
	margin-top:-7px;
}

.thumbnail {
	width:26%;
	margin-right:4%;
	float:left;
}

.thumbnail img {
	max-width:210px;
	width:100%;
	height:auto;
}

.post-info {
	width:70%;
	font-size:1em;
	color:#807269;
	font-weight:300;
	line-height:150%;
	margin:0 auto;
}

.articles {
	float:right !important;
	max-width:991px !important;
}

.navigation {
	float:left;
	width:auto;
	font-size:0.8em;
	font-weight:normal;
}

.navigation .page-numbers {
	padding:10px 15px;
	border:1px solid #d9d9d9;
}

.navigation .current {
	background:#e4dad4;
	font-weight:bold;
}

.single-excerpt {
	font-size:1.4em;
	line-height:160%;
	margin-bottom:40px;
}

.single-content p {
	margin-bottom:40px;
}

.featured-image img {
	width:100%;
	hight:auto;
}

.back-archive {
	display:block;
	margin-bottom:20px;
	font-size:24px;
}

.back-archive span {
	font-family:'Lato',  sans-serif;
	font-size:26px;
	color:#4a462a;
	display:inline-block;
	margin-right:15px;
}

#case-studies {
	margin-top:70px;
}

.case-study-right {
	width:58%;
	float:right;
}

.case-study-left {
	max-width:37%;
	width:auto;
	float:left;
}

#case-studies-lower {
	margin-bottom:125px;
	padding-top:60px;
}

#case-studies-lower .inner {
	max-width:580px;
	padding-left:75px;
}

#case-studies .featured-image img {
	max-width:1270px !important;
	height:auto;
	float:right;
}

#case-studies .box-8 {
	float:right !important;
}

#case-studies .left-inner {
	font-size:22px;
	line-height:130%;
	font-weight:300 !important;
	padding-left:70px;
	max-width:740px;
}

#case-studies h2 {
	color:#453d39;
	font-size:21px;
	margin-bottom:0;
}

#case-studies h1 {
	margin-top:15px;
}

#prev-next {
	border-top:1px solid #b5b5b5;
}

#prev-next a {
	text-decoration:none;
	display:block;
}

#case-studies-lower h2 {
	font-size:36px;
	margin-bottom:40px;
}

.case-nav-left {
	width:50%;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:452px;
	text-transform:uppercase;
	text-align:center;
	vertical-align:middle;
	color:#807269;
	text-decoration:none;
	border-right:1px solid #b5b5b5;
}

.case-nav-right {
	width:50%;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:452px;
	text-transform:uppercase;
	text-align:center;
	vertical-align:middle;
	color:#807269;
	text-decoration:none;
}

.case-nav {
	display:block;
	text-transform:uppercase;
	font-size:36px;
	margin-bottom:0px;
	margin-top:184px;
	letter-spacing:5px;
	line-height:130%;
}

.case-title {
	text-transform:none;
	font-size:24px;
	font-family:'proxima-nova',  sans-serif;
	display:block;
	margin-bottom:50px;
}

.case-arrow {
	font-family:'Lato',  sans-serif;
	font-size:28px;
	color:#4a462a !important;
}

.client-releases {
	margin-bottom:45px;
}

.client-releases p {
	margin-top:20px;
}

.team h1, .team p {
	margin-top:0px;
}

.team {
	padding-bottom:23px !important;
}

.team-content .right-inner {
	width:90%;
	margin:0 auto;
	font-size:1.2em;
	line-height:1.4em;
	font-weight:200;
}

.team .left-inner h1 {
	line-height:100% !important;
}

.team .right-inner {
	line-height:130%;
}

.member-grid {
	margin-bottom:31px;
}

.member-grid img {
	width:100%;
	height:auto;
	display:block;
}

.member-grid h2 {
	font-size:35px;
	text-transform:uppercase;
	margin-bottom:0px;
	margin-top:30px;
	line-height:35px;
	font-weight:400;
}

.member-grid h3 {
	color:#413f39;
	font-size:1em;
	margin-top:-4px;
	margin-bottom:20px;
	line-height:18px;
	text-transform:uppercase;
	font-weight:400;
}

.member-grid .post-box {
	display:block;
	position:relative;
	height:auto;
	min-height:260px;
}

.member-grid a {
	display:block;
	margin-top:0px;
	color:#807269;
	font-weight:700;
}

.box-7 img {
	float:right !important;
}

.contact {
	padding-top:80px;
	padding-bottom:150px;
}

.contact input[type="text"] {
	width:100% !important;
}

.wpcf7-form-control-wrap {
	width:100% !important;
}

span.wpcf7-not-valid-tip {
	position:absolute;
	color:ff0000;
	right:20px;
	top:15px;
}

div.wpcf7-validation-errors {
	border:none !important;
	color:#ff0000;
}

div.wpcf7-response-output {
	margin-bottom:30 !important;
	padding:0 !important;
	margin-left:-10px;
}

div.wpcf7-mail-sent-ok {
	border:none !important;
}

div.wpcf7-response-output {
	margin:0 !important;
	padding:0 !important;
}

.sidebar {
	width:auto;
	float:left !important;
	max-width:360px;
}

#comments ul {
	list-style:none;
}

.commentlist {
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:40px !important;
}

.commentlist li {
	padding-top:30px;
	padding-bottom:20px;
	margin-bottom:10px;
	border-bottom:1px solid #d9d9d9;
}

.commentlist li:first-child {
	border-top:1px solid #d9d9d9;
}

#comment-form-elements {
	list-style:none;
	margin:0;
	padding:0;
}

#comment-form-elements .input-bg {
	margin-bottom:25px !important;
}

ol.commentlist {
	list-style:none;
	margin:0 0 1em;
	padding:0;
	text-indent:0;
}

ol.commentlist li.comment div.vcard img.avatar {
	float:right;
	margin:0 0 1em 1em;
}

ol.commentlist li.comment div.comment-meta a {
	color:#555;
}

ol.commentlist li.comment div.comment-meta {
	font-size:11px;
}

ol.commentlist li.comment ul {
	font-size:11px;
	list-style:square;
	margin:0 0 1em 2em;
}

ol.commentlist li.comment div.reply {
	font-size:11px;
}

ol.commentlist li.comment div.reply a {
	font-weight:bold;
}

ol.commentlist li.comment ul.children {
	list-style:none;
	margin:1em 0 0;
	text-indent:0;
}

ol.commentlist li.comment ul.children li.depth-2 {
	border-left:5px solid #555;
	margin:0 0 .25em .25em;
}

ol.commentlist li.comment ul.children li.depth-3 {
	border-left:5px solid #999;
	margin:0 0 .25em .25em;
}

ol.commentlist li.comment ul.children li.depth-4 {
	border-left:5px solid #bbb;
	margin:0 0 .25em .25em;
}

ol.commentlist li.parent {
	border-left:5px solid #111;
}

*:focus {
	outline:none;
}

label {
	cursor:pointer;
}

.inputarea:hover {
	background:#bdbdbd;
	color:#fff;
}

input:focus::-webkit-input-placeholder {
	color:transparent;
}

textarea:focus::-webkit-input-placeholder {
	color:transparent;
}

::-webkit-input-placeholder {
	color:#807269;
	text-transform:uppercase;
}

:-moz-placeholder {
	color:#807269;
	opacity:1;
	text-transform:uppercase;
}

::-moz-placeholder {
	color:#807269;
	opacity:1;
	text-transform:uppercase;
}

:-ms-input-placeholder {
	color:#807269;
	text-transform:uppercase;
}

.form {
	margin:0;
	padding:0;
	list-style:none;
}

.form li {
	margin-bottom:25px;
}

.form {
	margin:0;
	padding:0;
	list-style:none;
}

input[type="submit"] {
	border:none;
	padding:20px;
	background:#e4dad4;
	color:#807269;
	font-size:15px;
	font-weight:400 !important;
	text-transform:uppercase;
	text-transform:uppercase;
	cursor:pointer;
	margin:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

input[type="submit"]:hover {
	background:#dadada;
}

textarea {
	min-height:150px;
	resize:none;
}

.inner-footer {
	border-top:14px solid #807269;
	border-bottom:3px solid #807269;
	margin-bottom:50px;
}

.footer-menu ul {
	list-style:none;
	margin:0;
	padding:0;
}

.footer-menu ul li {
	margin-right:10px;
}

.footer-menu ul li a {
	color:#fff;
	display:inline-block !important;
}

.footer-menu ul li+li::before {
	content:" | ";
	margin-right:10px;
}

.footer-menu .current_page_item {
	border-bottom:none !important;
}

.top-footer {
	border-bottom:1px solid #b5b5b5;
	line-height:80px;
}

.newsletter {
	text-transform:uppercase;
	text-indent:45px;
	font-size:15px;
}

.mailchimp input[type="email"] {
	width:65% !important;
	float:left;
	line-height:38px;
	padding-top:18px;
	text-indent:45px;
	border:none !important;
}

.mailchimp input[type="submit"] {
	float:right;
	line-height:60px;
	padding:10px 33px 10px 33px !important;
	border-left:1px solid #b5b5b5;
	border-radius:0 !important;
}

.bottom-footer {
	min-height:276px;
}

.social {
	width:510px;
	float:right;
	border-left:1px solid #b5b5b5;
}

.social a {
	width:50%;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:146px;
	text-transform:uppercase;
	text-align:center;
	vertical-align:middle;
	line-height:146px;
	font-size:16px;
	color:#807269;
	text-decoration:none;
}

.social a:hover {
	background:#E4DAD4;
}

.social .facebook {
	border-right:1px solid #b5b5b5;
	border-top:1px solid #b5b5b5;
}

.social .twitter {
	border-right:1px solid #b5b5b5;
}

.social .googleplus {
	border-top:1px solid #b5b5b5;
}

.footer-contact {
	min-width:530px;
	margin-left:45px;
	padding-top:35px;
	padding-bottom:60px;
	float:left;
	color:#514f4a;
	font-size:14px;
	line-height:145%;
}

.footer-contact a {
	color:#514f4a;
}

.bottom-footer h4 {
	margin-top:25px;
	margin-bottom:0px;
	font-size:17px;
	font-weight:400;
}

.bottom-footer p {
	margin:0px;
}

.find-us {
	margin-bottom:25px !important;
}

.foot-col-1 {
	width:65%;
	float:left;
}

.foot-col-2 {
	width:35%;
	float:left;
}

.copyright {
	text-transform:uppercase;
	margin-top:30px;
}

.copyright p {
	float:left;
	margin-right:56px;
}

#menu-footer-menu {
	display:block !important;
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}

#menu-footer-menu li {
	display:inline-block !important;
	margin-right:10px;
}

#menu-footer-menu li+li::before {
	content:" | ";
	margin-right:10px;
}

#menu-footer-menu .current_page_item {
	border:none !important;
}

.map_canvas {
	height:650px !important;
}

.small_map_container {
	height:430px !important;
}

.grid__image img {
	width:100%;
	height:auto;
	margin-bottom:-7px;
}

.services__top {
	margin-bottom:20px;
}

.services__top h1 {
	margin:0 auto;
}

.services__top .text {
	width:90%;
	margin:0 auto;
	font-size:1.2em;
	line-height:1.4em;
	font-weight:200;
}

.service__block .text {
	width:60%;
	margin:0 auto;
}

.service__block .text h2 {
	text-transform:uppercase;
	margin-top:0px;
}

.grid--rev {
	background:#ece8e2;
}

.grid--unrev {
	background:#ece8e2;
}

.read_about {
	font-weight:300 !important;
	position:relative;
	display:block;
}

.read_about div {
	display:none;
}

.read_about div span {
	display:none;
}

@media (min-width: 1024px) {
	.read_about div {
	max-height:1000px !important;
}

}@media (min-width: 769px) {
	.read_about {
	font-weight:300 !important;
	position:relative;
	display:block;
}

.read_about div {
	opacity:0;
	transition:opacity 0.5s;
	display:block;
	width:100%;
	height:100%;
	background:rgba(176, 33, 68, 0.6);
	color:#fff;
	position:absolute;
	top:0;
	left:0;
	font-size:1.3em;
	font-weight:400;
	letter-spacing:3px;
	text-align:center;
	max-height:400px;
}

.read_about div span {
	display:block;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	top:49%;
	position:relative;
	text-transform:uppercase;
}

.read_about:hover div {
	opacity:1;
}

}.single-member {
	font-size:1em;
	line-height:1.7em;
}

.team--top {
	padding-bottom:60px;
}

.team--thumbs {
	padding-top:70px;
}

.blog-post .post-info {
	width:100%;
	margin-top:30px;
}

.single-blog-post {
	margin-bottom:40px;
}

.date-archive {
	display:block;
}

.archive-menu {
	margin-top:30px;
	display:block;
	float:right;
}

.archive-menu li {
	list-style:none;
	float:left;
	padding-right:10px;
}

@media (min-width: 1400px) {
	.member-grid h3 {
	margin-top:4px;
}

.slider-left h3 {
	font-size:1.9em;
}


#content {
	margin-top:98px !important;
}

.service-block {
	width:240px !important;
}

.service-block .services-home ul li:not(:first-child) h2 {
	margin-top:14px !important;
}

.single-member {
	font-size:0.8em;
	line-height:1.6em;
}

.archive-menu li {
	padding-right:140px;
}

h1 {
	font-size:3em;
	text-transform:uppercase;
}

.blog-archive h1 {
	line-height:1em;
	font-size:2.2em;
}

.blog-archive .single-excerpt p {
	font-size:0.9em;
	line-height:1.3em;
}

.blog-archive .single-content p {
	margin-bottom:0px;
}

.service__block .text {
	width:80% !important;
}

}@media (max-width: 1300px) {
	.tagline {
	display:block !important;
}

.tagline h2 {
	margin-left:18px;
}

#menu-primary-menu li {
	margin-left:20px;
}

}.slider-left {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}


#content {
	margin-top:123px;
}

.small #content {
	margin-top:133px;
}

}.client-releases {
	margin-bottom:10px;
	background:#ECE8E2;
}

.case-study {
	padding:10px 0px 0px 0px !important;
}

.slider-text {
	position:absolute;
	bottom:20px;
	left:20px;
}

#box-2:hover, #box-3:hover, #box-4:hover, #box-5:hover, #box-6:hover {
	color:#fff !important;
}

#box-2:hover {
	background:#DD5646;
}

#box-3:hover {
	background:#008187;
}

#box-4:hover {
	background:#81CAD0;
}

#box-5:hover {
	background:#212056;
}

#box-6:hover {
	background:#bc204b;
}

#font-1 {
	color:#DD5646;
}

#font-2 {
	color:#008187;
}

#font-3 {
	color:#81CAD0;
}

#font-4 {
	color:#212056;
}

#font-5 {
	color:#bc204b;
}

.single-post h1 {
	text-transform:uppercase;
}

.single-post .post {
	background:none;
}

.blog-archive {
	padding-top:80px;
}

.single-post #wide-content {
	margin-top:0px;
	padding-top:0px;
}

.single-blog-post h2 {
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:0px;
	margin-top:30px;
	line-height:27px;
}

.single-blog-post h3 {
	margin-top:-2px;
}

a.anchor {
	display:block;
	position:relative;
	top:-200px;
	visibility:hidden;
}

@media print {
	* {
	background:transparent !important;
	color:black !important;
	text-shadow:none !important;
	filter:none !important;
	-ms-filter:none !important;
}

a, a:visited {
	color:#444 !important;
	text-decoration:underline;
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content:"";
}

pre, blockquote {
	border:1px solid #999;
	page-break-inside:avoid;
}

thead {
	display:table-header-group;
}

tr, img {
	page-break-inside:avoid;
}

img {
	max-width:100% !important;
}

@page {
	margin:0.5cm;
}

p, h2, h3 {
	orphans:3;
	widows:3;
}

h2, h3 {
	page-break-after:avoid;
}

.sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
	display:none;
}

}

